html{
	height: 100%;
}

/* Page de connexion */
.body-login{
    height: 100%;
    background:url(images/fond.jpg) no-repeat center fixed;
    background-size: cover;
}

.login-form h3{
	text-align: center;
	padding:2% 0 8% 0;
}
.login-form{
    margin-bottom: 30%;
    margin-top: 70%;
    padding: 10%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #0062cc;
    color: #fff;
    font-weight: bold;
}

/* Partie MLM */
.labelBold{
    font-weight: bold;
}

.headerAudit{
    font-size: 16pt;
}
.table-wrapper{ 
    overflow-x:auto;
    width:100%;
}

.table-wrapper td {
    padding: 5px 20px;
    width: 40px;
    border: 1px solid gray;
    font-weight: bold;
}

#coin-gauche {
    font-weight:bold;
    position: absolute;
    background-color: white;
    width: 330px;
    height: 90px;
    margin-top: -1px;
}

.decaleTD{
    padding-left: 330px;
}

.decaleCheckbox{
    margin-left: 290px;
}

input[type="checkbox"] {
    cursor: pointer;
}

td.epaiseGauche{
    border-left: 2px solid black;
}

td.epaiseDroite{
    border-right: 2px solid black;
}


td.epaiseBas{
    border-bottom: 3px solid black;
}

td.epaiseHaute{
    border-top: 2px solid black;
}

td.epaiseAll{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* Gestion des utilisateurs */
#newUser input, label{
    margin-right: 10px;
}

/* Element isolé */
#logo{
    border-radius: 22px;
}

.home{
    padding-top: 40px;
}

#deconnexion{
    font-weight: bold;
}

.liste-filtre{
    list-style-type: none;
}

.filtre{
    float: left;
    margin-left: 12px;
    margin-bottom: 10px;
}

.nav-item{
    margin-left: 10px;
}

td{
    text-align: center;
}

.search{
    float: right;
}

.ticket{
    border-right: 1px solid gray; 
    margin-right: 20px;
    margin-bottom: 50px;
}

#erreur{
    color: red;
    font-weight: bold;
    font-size: 14pt;
}

.separateur{
    border-top: 1px solid gray;  
    padding: 10px 0;
}

.bg-clear{
    background-color: #b6deea !important;
}

.notification{
    background-color:#e50909;
    border-radius: 10px;
    padding: 0 10px;
    color: white;
}

.style{
    border-top: 1px dotted black !important;
}

h3.headerTicket{
	float: left;
}

p.headerTicket{
	font-size: 1.65rem;
}

#praticien input{
    height: 25px;
    width: 85%;
}

#praticien div{
    border: 1px solid gray;
    margin: 5px;
    padding-bottom: 5px;
    width: 9%;
    padding-left: 5px;
    min-width: 170px;
}